<div class="container-fluid position-relative nav-bar">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
      <a href="#" class="navbar-brand">
        <h1 class="m-0 text-primary px-4 py-0"><span class="text-dark">TRAVEL</span>ER</h1>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="dropdown">
          <a class="nav-link  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('tour_categories.title') %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% categories_has_tour.each do |category| %>
                <li class="dropdown-item">
                  <%= link_to tour_by_tour_category_path(category), class: "nav-link text-dark" do %>
                    <span class="category-name"><%= category.category_name %></span>
                    <span class="tour-count">(<%= category.tours.count %>)</span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <%= link_to t("dashboard.link.tour" ), tours_path, class: "nav-item nav-link" %>
          <div class="nav-item dropdown">
            <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag current_user.avatar.variant(:avatar_icon) if current_user.avatar&.attached? %>
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                <%= link_to t("user.headers.account_link.information"), edit_profile_path, class: "dropdown-item" %>
                <%= link_to t("user.headers.account_link.history_booking"), history_path, class: "dropdown-item" %>
                <%= link_to t("user.headers.account_link.fllowing_booking"), tour_following_path, class: "dropdown-item" %>
                <%= link_to t("user.headers.account_link.logout"), signout_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            <% else %>
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t("user.headers.account_link.account" )%>
              </a>
              <div class="dropdown-menu border-0 rounded-0 m-0">
                <%= link_to t("user.headers.account_link.login"), signin_path, class: "dropdown-item" %>
                <%= link_to t("user.headers.account_link.register"), signup_path, class: "dropdown-item" %>
              </div>
            <% end %>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t("language.language") %>
            </a>
            <div class="dropdown-menu border-0 rounded-0 m-0">
              <%= link_to t("language.english"), url_for(locale: "en"), class: "dropdown-item" %>
              <%= link_to t("language.vietnamese"), url_for(locale: "vi"), class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
